// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.city {
  height: 100%;
  background-image: url(image_path("city.png"));
}

.newcity {
  height: 100%;
  background-image: url(image_path("empire.png"));
}

.newblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newbox {
  display: flex;
  justify-content: center;
}

.add-city-button {
  display: flex !important;
  justify-content: space-evenly !important;
  margin-top: 10px;
}

html {
  height: 100%;
}
.showcity {
  min-height: 100%;
  background: none;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .showcitymain {
//   height: 100%;
//   width: 100%;
// }
//
// .showcitybox {
//   position:fixed;
//   top: 50%;
//   left: 50%;
//   // width: 250px;
//   // height: 150px;
//   // margin-top: -8em;
//   // margin-left: -15em;
// }

.showcityinner {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.showbutton {
  display: flex;
  justify-content: center;
}

.showcityinner {
  width: 50%;
}
